{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "semi": "off"
  },
  "env": {
    "browser": "true"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
